.monetization-container {
  margin-bottom: 68px;
}

.monetization-wrapper-container {
  border-radius: 20px;
  max-width: 1290px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (max-width: 1199px) and (min-width: 541px) {
    width: 85%;
  }

  @media (max-width: 540px) {
    padding: 0px 16px;
  }
}

.monetization-wrapper {
  &::before {
    content: "";
    background-image: linear-gradient(
      180deg,
      #e50f1c -38.3%,
      rgba(146, 0, 0, 0.89) 198.94%
    );
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
    border-radius: 20px;
  }

  display: flex;
  position: relative;

  @media (max-width: 540px) {
    flex-direction: column;
    min-height: 0px;
  }

  .img-container {
    position: absolute;
    bottom: -35px;
    left: 40%;

    @media (max-width: 1199px) and (min-width: 541px) {
      left: 40%;
      bottom: 45px;
      img {
        height: 78px;
        width: 185px;
      }
    }
    @media (max-width: 540px) {
      left: 48%;
      bottom: 64px;
      img {
        height: 94px;
        width: 122px;
        rotate: -90deg;
        transform: scaleX(-1);
      }
    }
  }

  .monetization-left {
    flex: 0.5;
    @media (max-width: 540px) {
      flex: 0;
    }
    .monetization-left-content {
      padding-left: 51px;
      padding-top: 80px;
      padding-bottom: 78px;
      padding-right: 100px;
      font-family: "Ubuntu";
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 149.5%;
      color: #000000;

      @media (max-width: 1199px) and (min-width: 541px) {
        font-size: 23.1081px;
        line-height: 35px;
      }

      @media (max-width: 540px) {
        padding-top: 48px;
        padding-left: 18px;
        padding-bottom: 0px;
        font-size: 24px;
        line-height: 36px;
      }

      .c__ {
        position: relative;
        .fans {
          background-image: linear-gradient(
            180deg,
            #e50f1c -38.3%,
            rgba(146, 0, 0, 0.89) 198.94%
          );
          background-size: 100%;
          background-repeat: repeat;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-background-clip: text;
          -moz-text-fill-color: transparent;
        }
        .sparkles {
          position: absolute;
          top: -20px;
          right: 0;

          @media (max-width: 1199px) and (min-width: 541px) {
            width: 39.03px;
            height: 41.54px;
          }

          @media (max-width: 540px) {
            right: -30px;
          }
        }
      }
    }
  }

  .monetization-right {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 540px) {
      align-items: normal;
      padding-left: 16px;
      padding-bottom: 40px;
      padding-top: 40px;
    }

    .monetization-right-hashtag {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 38px;
      color: #000000;

      @media (max-width: 1199px) and (min-width: 541px) {
        font-size: 12.8378px;
        line-height: 19px;
      }

      @media (max-width: 540px) {
        font-size: 14px;
        line-height: 21px;
      }
    }

    .monetization-right-get-started {
      width: 290px;
      height: 82px;
      left: 911px;
      top: 3368px;
      background: linear-gradient(
          180deg,
          #e50f1c -38.3%,
          rgba(146, 0, 0, 0.89) 198.94%
        ),
        #ffffff;
      border: 1.5px solid #ffffff;
      border-radius: 42.5px;
      font-family: "Ubuntu";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;

      @media (max-width: 1199px) and (min-width: 541px) {
        font-size: 8.21622px;
        line-height: 12px;
        width: 148.92px;
        height: 42.11px;
      }

      @media (max-width: 540px) {
        width: 193px;
        height: 50px;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
