.faq-container {
  margin-bottom: 149px;
  display: flex;
  justify-content: center;

  @media (max-width: 1199px) and (min-width: 541px) {
    margin-top: 122px;
  }

  @media (max-width: 540px) {
    margin-bottom: 35px;
  }

  .faq-wrapper {
    width: 100%;
    max-width: calc(1440px - 150px);
    position: relative;

    @media (max-width: 1199px) and (min-width: 541px) {
      width: 85%;
    }

    @media (max-width: 540px) {
      max-width: calc(540px - 50px);
    }

    .left-gradient {
      position: absolute;
      width: 271px;
      height: 271px;
      top: -50px;
      left: -195px;
      background: linear-gradient(
          180deg,
          #e50f1c -38.3%,
          rgba(146, 0, 0, 0.89) 198.94%
        ),
        #ffffff;
      opacity: 0.4;
      filter: blur(150px);
    }

    .bottom-right-gradient {
      position: absolute;
      width: 398px;
      height: 398px;
      right: 0px;
      top: 461px;

      /* Main Color */

      background: linear-gradient(
          180deg,
          #e50f1c -38.3%,
          rgba(146, 0, 0, 0.89) 198.94%
        ),
        #ffffff;
      opacity: 0.2;
      filter: blur(150px);

      @media (max-width: 540px) {
        // left: 20px;
        display: none;
      }
    }
  }
}

.faq-content {
  display: flex;
  gap: 35px;

  @media (max-width: 540px) {
    flex-direction: column-reverse;
  }

  .faq-content-left {
    flex: 0.5;

    @media (max-width: 1199px) and (min-width: 541px) {
      flex: 0.35;
    }

    @media (max-width: 540px) {
      display: flex;
      justify-content: center;
    }

    img {
      width: 503.27px;
      height: 532.72px;
      margin-top: 151px;

      @media (max-width: 1199px) and (min-width: 541px) {
        height: 270px;
        width: 270px;
      }

      @media (max-width: 540px) {
        margin-top: 57px;
        height: 324.96728515625px;
        width: 307.00042724609375px;
      }
    }
  }

  .faq-content-right {
    flex: 0.5;
    flex-direction: column;

    @media (max-width: 1199px) and (min-width: 541px) {
      flex: 0.65;
    }

    .faq-title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 44px;
      line-height: 57px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 57px;

      @media (max-width: 1199px) and (min-width: 541px) {
        font-size: 44px;
        line-height: 57px;
      }

      @media (max-width: 540px) {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        justify-content: center;
      }
    }

    .faq-contents {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (max-width: 540px) {
        padding: 0px 16px;
      }

      .faq-cell-container {
        position: relative;

        &:hover {
          cursor: pointer;
        }

        .faq-cell {
          width: 100%;
          height: 80px;
          background: linear-gradient(
            180deg,
            rgba(229, 15, 28, 0.1) -38.3%,
            rgba(146, 0, 0, 0.089) 198.94%
          );
          border-radius: 20px;
          padding: 28px 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media (max-width: 1199px) and (min-width: 541px) {
            height: 41.08px;
          }

          @media (max-width: 540px) {
            height: 52px;
          }

          .name {
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            color: black;

            @media (max-width: 1199px) and (min-width: 541px) {
              font-size: 9.24324px;
              line-height: 12px;
            }

            @media (max-width: 540px) {
              font-size: 10px;
              line-height: 13px;
            }
          }

          .action {
            &:hover {
              cursor: pointer;
            }
          }
        }

        .faq-details {
          margin-top: -80px;
          display: none;
          background: linear-gradient(
            180deg,
            rgba(229, 15, 28, 0.1) -38.3%,
            rgba(146, 0, 0, 0.089) 198.94%
          );
          border-radius: 20px;
          width: 100%;
          padding: 95px 89px 31px 24px;

          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 27px;
          color: #000000;
          border: 1px solid;
          border-color: rgba(146, 0, 0, 0.89);

          @media (max-width: 1199px) and (min-width: 541px) {
            margin-top: -56px;
            font-size: 7.18919px;
            line-height: 14px;
            padding: 70px 89px 20px 24px;
          }

          @media (max-width: 540px) {
            font-weight: 500;
            font-size: 8px;
            line-height: 15px;
            margin-top: -55px;
            padding: 70px 89px 20px 24px;
          }
        }
      }
    }
  }
}

.visible {
  .faq-cell {
    background: linear-gradient(
        180deg,
        #e50f1c -38.3%,
        rgba(146, 0, 0, 0.89) 198.94%
      ),
      #ffffff !important;
    .name {
      color: white !important;
    }
  }
  .faq-details {
    display: block !important;
  }
}
