.hero-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  .hero-wrapper {
    width: 100%;
    max-width: calc(1440px - 150px);

    @media (max-width: 1199px) {
      max-width: calc(1024px - 150px);
    }

    @media (max-width: 770px) {
      max-width: calc(770px - 50px);
    }

    .contents {
      display: flex;
      justify-content: space-between;

      .content {
        position: relative;
        .left-gradient {
          position: absolute;
          width: 271px;
          height: 271px;
          left: -95px;
          background: linear-gradient(
              180deg,
              #e50f1c -38.3%,
              rgba(146, 0, 0, 0.89) 198.94%
            ),
            #ffffff;
          opacity: 0.4;
          filter: blur(150px);
        }

        .bottom-right-gradient {
          position: absolute;
          width: 398px;
          height: 398px;
          left: 1061px;
          top: 461px;

          /* Main Color */

          background: linear-gradient(
              180deg,
              #e50f1c -38.3%,
              rgba(146, 0, 0, 0.89) 198.94%
            ),
            #ffffff;
          opacity: 0.2;
          filter: blur(150px);
        }
        margin-top: 52px;
        flex: 0.5;
        .monetize {
          font-family: "Ubuntu";
          font-style: normal;
          font-weight: 500;
          font-size: 60px;
          line-height: 136%;
          /* or 82px */

          color: #000000;

          .fans {
            background-image: linear-gradient(
              180deg,
              #e50f1c -38.3%,
              rgba(146, 0, 0, 0.89) 198.94%
            );
            background-size: 100%;
            background-repeat: repeat;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
          }
        }

        .unlock {
          margin-top: 41px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 43px;
          color: #000000;
          opacity: 0.8;
        }

        .action {
          margin-top: 54px;
          margin-bottom: 58px;
          display: flex;
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 208px;
            height: 75px;
            background: linear-gradient(
                180deg,
                #e50f1c -38.3%,
                rgba(146, 0, 0, 0.89) 198.94%
              ),
              #ffffff;
            border-radius: 39.5px;

            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 135.3%;
            color: #ffffff;
            border: 6px solid #f8d4d6;

            &:hover {
              cursor: pointer;
            }
          }
          .ring-container {
            position: relative;
            .ring-bg {
              height: 79.71px;
              width: 79.71px;
              margin-left: 142px;
              background: linear-gradient(
                  180deg,
                  #e50f1c -38.3%,
                  rgba(146, 0, 0, 0.89) 198.94%
                ),
                #ffffff;
              filter: blur(100px);
            }
            .ring {
              position: absolute;
              top: 0;
              margin-left: 142px;
              height: 79.71px;
              width: 79.71px;
            }
          }
        }
      }

      .image {
        flex: 0.5;
      }
    }
  }
}
