.hero-container {
  display: flex;
  justify-content: center;
  overflow: hidden;

  @media (max-width: 1199px) and (min-width: 541px) {
  }

  .hero-wrapper {
    width: 100%;
    max-width: calc(1440px - 150px);

    @media (max-width: 1199px) and (min-width: 541px) {
      width: 85%;
    }

    .contents {
      display: flex;
      justify-content: space-between;

      @media (max-width: 540px) {
        flex-direction: column;
        justify-content: center;
      }

      .content {
        position: relative;
        margin-top: 52px;
        flex: 0.5;

        .left-gradient {
          position: absolute;
          width: 271px;
          height: 271px;
          left: -95px;
          background: linear-gradient(
              180deg,
              #e50f1c -38.3%,
              rgba(146, 0, 0, 0.89) 198.94%
            ),
            #ffffff;
          opacity: 0.4;
          filter: blur(150px);

          @media (max-width: 540px) {
            background: linear-gradient(
                180deg,
                #e50f1c -38.3%,
                rgba(146, 0, 0, 0.89) 198.94%
              ),
              #ffffff;
            opacity: 0.3;
            filter: blur(150px);
          }
        }

        .bottom-right-gradient {
          position: absolute;
          width: 398px;
          height: 398px;
          left: 1061px;
          top: 461px;
          background: linear-gradient(
              180deg,
              #e50f1c -38.3%,
              rgba(146, 0, 0, 0.89) 198.94%
            ),
            #ffffff;
          opacity: 0.2;
          filter: blur(150px);

          @media (max-width: 1199px) and (min-width: 541px) {
            left: 544.84px;
            top: 236.73px;
          }

          @media (max-width: 540px) {
            position: absolute;
            width: 179px;
            height: 179px;
            left: 188px;
            top: 553px;
            background: linear-gradient(
                180deg,
                #e50f1c -38.3%,
                rgba(146, 0, 0, 0.89) 198.94%
              ),
              #ffffff;
            opacity: 0.4;
            filter: blur(150px);
          }
        }

        .monetize {
          font-family: "Ubuntu";
          font-style: normal;
          font-weight: 500;
          font-size: 60px;
          line-height: 82px;
          color: #000000;

          .fans {
            background-image: linear-gradient(
              180deg,
              #e50f1c -38.3%,
              rgba(146, 0, 0, 0.89) 198.94%
            );
            background-size: 100%;
            background-repeat: repeat;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
          }

          @media (max-width: 1199px) and (min-width: 541px) {
            font-size: 30.8108px;
            line-height: 42px;
          }

          @media (max-width: 540px) {
            font-family: "Ubuntu";
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            line-height: 35px;
            text-align: center;
            color: #000000;
          }
        }

        .unlock {
          margin-top: 41px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 43px;
          color: #000000;
          opacity: 0.8;

          @media (max-width: 1199px) and (min-width: 541px) {
            margin-top: 22px;
            font-size: 10.2703px;
            line-height: 22px;
          }

          @media (max-width: 540px) {
            margin-top: 16px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 21px;
            text-align: center;
            color: #000000;
          }
        }

        .action {
          margin-top: 54px;
          margin-bottom: 58px;
          display: flex;
          button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 208px;
            height: 75px;
            background: linear-gradient(
                180deg,
                #e50f1c -38.3%,
                rgba(146, 0, 0, 0.89) 198.94%
              ),
              #ffffff;
            border-radius: 39.5px;

            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 135.3%;
            color: #ffffff;
            border: 6px solid #f8d4d6;

            &:hover {
              cursor: pointer;
            }
          }
          .ring-container {
            position: relative;
            .ring-bg {
              height: 79.71px;
              width: 79.71px;
              margin-left: 142px;
              background: linear-gradient(
                  180deg,
                  #e50f1c -38.3%,
                  rgba(146, 0, 0, 0.89) 198.94%
                ),
                #ffffff;
              filter: blur(100px);
              @media (max-width: 1199px) and (min-width: 541px) {
                margin-left: 68px;
                height: 70px;
                width: 70px;
              }

              @media (max-width: 540px) {
                display: none;
              }
            }
            .ring {
              position: absolute;
              top: 0;
              margin-left: 142px;
              height: 79.71px;
              width: 79.71px;

              @media (max-width: 1199px) and (min-width: 541px) {
                margin-left: 68px;
                img {
                  width: 40px;
                  height: 40px;
                }
              }

              @media (max-width: 540px) {
                top: 10px;
                margin-left: 75%;
                img {
                  width: 27.15px;
                  height: 27.15px;
                }
              }
            }
          }

          @media (max-width: 1199px) and (min-width: 541px) {
            margin-top: 28px;
            margin-bottom: 0px;
            button {
              width: 106.81px;
              height: 38.51px;
              font-size: 9.24324px;
              line-height: 13px;

              img {
                height: 16px;
                width: 16px;
              }
            }
          }

          @media (max-width: 540px) {
            margin-top: 26px;
            margin-bottom: 0px;
            flex-direction: column;
            button {
              width: 157px;
              height: 50px;
              font-size: 14px;
              line-height: 19px;

              img {
                height: 23px;
                width: 23px;
              }
            }
            .action-button {
              display: flex;
              justify-content: center;
            }
          }
        }

        @media (max-width: 540px) {
          margin-top: 21px;
        }
      }

      .image {
        flex: 0.5;
        display: flex;
        justify-content: flex-end;
        img {
          height: 699px;
          width: 531px;
        }

        @media (max-width: 1199px) and (min-width: 541px) {
          img {
            height: 359px;
            width: 272px;
          }
        }

        @media (max-width: 540px) {
          display: flex;
          justify-content: flex-end;
          img {
            width: 352.12px;
            height: 412.3px;
          }
        }
      }
    }
  }
}
