.steps-container {
  display: flex;
  justify-content: center;
  .steps-wrapper {
    width: 100%;
    max-width: calc(1440px - 150px);
    margin-top: 81px;
    margin-bottom: 142px;

    @media (max-width: 1199px) {
      max-width: calc(1024px - 150px);
    }

    @media (max-width: 770px) {
      max-width: calc(770px - 50px);
    }

    .steps-contents {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 67px;
    }
  }
}
