.header-container {
  height: 103px;
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.102);
  display: flex;
  justify-content: center;
  .header-wrapper {
    width: 100%;
    max-width: calc(1440px - 150px);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation-mobile {
      display: none;
    }

    @media (max-width: 1199px) {
      max-width: calc(1024px - 150px);
    }

    @media (max-width: 770px) {
      max-width: calc(770px - 50px);
    }

    @media (max-width: 540px) {
      margin-left: 16px;
      margin-right: 16px;
      .navigation {
        display: none;
      }

      .navigation-mobile {
        display: block;
      }
    }

    .navigation {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 48px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        li {
          a {
            color: #000000;
          }

          button {
            width: 118px;
            height: 49px;
            background: linear-gradient(
                180deg,
                #e50f1c -38.3%,
                rgba(146, 0, 0, 0.89) 198.94%
              ),
              #ffffff;
            border-radius: 24.5px;

            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #ffffff;
            border: 0px;

            margin-left: 71px;
            &:hover {
              cursor: pointer;
            }

            @media (max-width: 1199px) {
              margin-left: 50px;
            }

            @media (max-width: 770px) {
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}

.active {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #e50f1c -38.3%,
        rgba(146, 0, 0, 0.89) 198.94%
      ),
      #ffffff;
    border-radius: 6px;
    bottom: -6px;
  }
}
